<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:macro name="manipulator" params="connected_base:=''">
    <!-- Empty link to refer everything to -->
    <xacro:unless value="${connected_base == 'base_link'}">
       <link name="${connected_base}" />
    </xacro:unless>
    <!-- Include arm and hand xacro files-->
    <xacro:include filename="$(find franka)/description/panda_arm.xacro" />
    <xacro:include filename="$(find franka)/description/panda_hand.xacro" />
    <xacro:include filename="$(find franka)/description/rgbd_camera.xacro" />

    <!-- call the arm macro-->
    <xacro:panda_arm xyz="0 0 0" rpy="0 0 0" connected_base="${connected_base}"/>
    <!-- call the hand macro-->
    <xacro:panda_hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />
    <xacro:rgbd_camera rpy="0 ${-pi/2} 0" connected_to="panda_finger" />

  </xacro:macro>
</robot>
